.container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  .errorText {
    color: var(--destructive) !important;
    margin-top: 0.25rem;
  }

  .loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
