@use "../../utils/styles/rem.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: rem(800px);
    width: rem(500px);
    max-height: calc(100svh - rem(40px));
    max-width: 100%;
    flex: 1;
    padding: rem(32px 20px);
    gap: rem(32px);
    background-color: var(--white-03);
    border-radius: rem(24px);
}