@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/InclusiveSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/InclusiveSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/InclusiveSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inclusive Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/InclusiveSans-Bold.ttf') format('truetype');
}
