@use "../utils/styles/rem.scss" as *;

.page {
  display: flex;
  align-items: stretch;
  min-height: 100dvh;
  background: var(--surface-primary);

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .authPage {
    padding-inline: rem(20px);
  }
  .chatsWrapper {
    display: flex;
    flex: 1;
    width: 100%;
    max-height: calc(100dvh - rem(var(--header-height)));
  }
}
