@use "../utils/styles/rem.scss" as *;

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: rem(0 20px 0px);

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    align-items: center;
  }
}
