@use '../../../utils/styles/rem.scss' as *;

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(16px);
    height: rem(var(----header-height));
    width: 100vw;
    background: var(--surface-secondary);
    padding: rem(14px 24px);
}
