.iconBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: var(--text-primary);
}
